<div class="row justify-content-center mt-5">
    <div class="col-8">
        <div class="card text-left">

            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="form-group">
                            <label for=""></label>
                            <input type="text" class="form-control" name="" id="" [(ngModel)]="originUrl" aria-describedby="helpId" placeholder="originUrl">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-1">

                    <div class="col-8">
                        Short link : {{shortUrl}}
                    </div>
                </div>
                <div class="row justify-content-center mt-3">

                    <button type="button" (click)="addOb()" name="" id="" class="btn btn-primary  ">Short</button>
                    <button type="button " (click)="copyMessage(shortUrl)" name="" id="" class="btn btn-dark  ml-1">Short</button>
                </div>

            </div>
        </div>

    </div>
</div>
