<div class="row justify-content-center mt-5">


    <div class="col-6">
        <div class="card text-left">
            <div class="card-body">

                <p class="card-text"> Username : {{datauser.login}}</p>
                <p class="card-text"> Bio : {{datauser.bio}}</p>
                <p class="card-text"> Location : {{datauser.location}}</p>
                <p class="card-text"> Public repos : {{datauser.public_repos}}</p>
                <p class="card-text"> Followers : {{datauser.followers}}</p>
                <p class="card-text"> following : {{datauser.following}}</p>
            </div>
        </div>

    </div>

</div>
